/*  your css code here. If applicable */
.division {
    margin: 5px 0;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
  }
  .text{
    margin-top: 20px;
  }

#change_text{
    margin-left: 40%;
}

#result {
    margin-top: 20px;
    font-weight: bold;
    color: green;
  }